:root {
    --color-prim: rgb(245, 114, 184);
}

    /* titulo y menu-navegador  */

header {
    
    text-align: center;
    background-color: #ebead9;
    height: 85px;

}


    /* propiedades de menu-navegador*/

.btn-primary {
    background-color: var(--color-prim); /* Color de fondo */
    border: 2px solid #000000;
    border-radius: 9%;  /* Esquinas redondeadas */
}

.btn-primary:hover {
    background-color: rgba(235, 100, 240, 0.9);/* Color de fondo al pasar el mouse */
    border-color: rgba(0, 0, 0, 0.9);/* Color del borde al pasar el mouse */
    box-shadow: 0 4px 4px;/* Sombra para el efecto de profundidad */
}



.iconos-redes{
    display: flex;
    position: relative;
    justify-content: space-between; /* Coloca los elementos en extremos opuestos */
    bottom: 82px;
}

.iconos-redes img {
    position: relative;
    width: 56px;
}
    
    /*propiedad de letras titulo*/

h1 {
    color: var(--color-prim);
}


    /* fondo de pagina */

.fondo {
    background-image: url(images/fondo_rosa_pastel.png);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* Asegura que la imagen no se repita y hace q se estire */
    background-repeat: no-repeat;
    /* Asegura que el cuerpo cubra toda la ventana */
    background-size: cover;
    /* Centra la imagen */
   background-position: center center;
}

/* propiedades de carousel*/

.card {
    text-align: center;
    margin-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.2); /* Un color de fondo más suave y transparente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra suave para darle profundidad */
    max-width: 300px; /* Define un ancho máximo para evitar que la tarjeta se estire demasiado */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza los efectos al pasar el ratón */
}


.card-img-top {
    border-radius: 10px 10px 10px 10px; /* Redondea solo las esquinas superiores de la imagen */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    object-fit: cover; /* Asegura que la imagen no se deforme y se ajuste al contenedor */
}

    /* Establece un tamaño fijo para las imágenes del carrusel */
.carousel-item img {
    width: 90%;  /* O ajusta según necesites */
    height: 300px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Esto ajusta la imagen dentro del contenedor manteniendo la proporción */
}

    /* Asegura que las tarjetas mantengan un tamaño consistente */
.carousel-item .card {
    width: 18rem;
    height: 500px; /* Altura fija para las tarjetas */
}

    /* Ajusta el contenido de la tarjeta */

.carousel-item .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto distribuye bien los elementos dentro de la tarjeta */
    height: 100%; /* Asegura que ocupe el espacio total disponible */        
}

.card-title {
    font-size: 1.8rem; /* Tamaño grande para resaltar el título */
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra para darle más impacto */        
}

.card-text {
    font-size: 1rem;
    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: center;
}

.card-body button {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #f59ff5a6;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0%;
}

.card-body button:hover {
    background-color: #ff00dd; /* Cambio de color al pasar el cursor */
}

.card-body button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgb(226, 165, 213);
}


/* carrito de compra propiedades*/

/*fondo del carrito*/

div#offcanvasRight.offcanvas.offcanvas-end.show{
    background-color: #ebead9;
} 


/*posicionamiento de elementos en header*/

.offcanvas-header{
    display: block;
    padding: 1rem 1rem;
}

.row>* {
    margin-top: 14px;
}

.offcanvas-header .btn-close{
    padding: .5rem .5rem;
    margin-top: -7.5rem;
    margin-right: -21.5rem;
    margin-bottom: -3.5rem;
    position: relative;
    top: -33px;

}


div.col-md-2.text-end.cart-item-subtotal{
    position: relative;
    right: 40%;
}

svg.bi.bi-trash{
    position: absolute;
    left: 48%;
}


/* color del titulo carrito  */

h5#offcanvasRightLabel.offcanvas-title{
    color: #000000;


}

/* posicion icono eliminar */

button.btn.btn-delete {
    position: relative;
    display: inline-block;
    bottom:  251px;
    left: 95px;
    
}


/*tamaño de la imagen*/
.img-fluid {
    max-width: 72%;
    height: auto;
}

/*centrar numero de cantidad en carrito*/
input.form-control.cart-quantity-input{
    text-align: center;
}

/*posicion del contenido del body carrito*/
div#cart-items-container{
    position: relative;
    display: block;
    width: 42%;
    left: 31%;    
}



/* Botón Comprar */
.btn-comprar {
    background-color: #40e27b; /* Color verde WhatsApp */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
    text-align: center;
}

.btn-comprar:hover {
    background-color: #1ebc59;
}


.btn-delete {
background-color: #f099ff; /* Color rojo suave */
color: white;
border: none;
padding: 8px 12px;
border-radius: 50%;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2s ease;
display: inline-flex;
align-items: center;
justify-content: center;
}

.btn-delete:hover {
background-color: #d32f2f; /* Rojo más oscuro en hover */
}

.btn-delete:active {
background-color: #b71c1c; /* Aún más oscuro al hacer clic */
transform: scale(0.95); /* Efecto de clic */
}

.bi-trash {
width: 20px;
height: 20px;
}


svg.bi.bi-trash {
position: relative;
left: 12%; 
}




/* Media queries para pantallas más grande (notebook) */
@media (min-width: 480px) {



    /* titulo y menu navegador  */

    header {
        text-align: center;
        background-color: #ebead9;
        height: 110px;
    }

    /*propiedades de letra del titulo"*/

    h1 {
        color: var(--color-prim);
    }





    /* propiedades imagenes-iconos redes sociales*/

    .iconos-redes{
        display: flex;
        position: relative;
        justify-content: space-between;
        height: 35px;

    }

    .iconos-redes img {
        position: relative;
        width: 80px;
    }
       


    /* propiedades de menu-navegador*/



    .btn-primary {
        background-color: var(--color-prim);
        /* Color de fondo */
        border: 2px solid #000000;
        border-radius: 9%;
        /* Esquinas redondeadas */

    }

    .btn-primary:hover {
        background-color: rgba(235, 100, 240, 0.9);
        /* Color de fondo al pasar el mouse */
        border-color: rgba(0, 0, 0, 0.9);
        /* Color del borde al pasar el mouse */
        box-shadow: 0 4px 4px;
        /* Sombra para el efecto de profundidad */
    }


    /* fondo de pagina */

    .fondo {
        background-image: url(images/fondo_rosa_pastel.png);
        margin: 0;
        padding: 0;
        min-height: 100vh;
        /* Asegura que la imagen no se repita y hace q se estire */
        background-repeat: no-repeat;
        /* Asegura que el cuerpo cubra toda la ventana */
        background-size: cover;
        /* Centra la imagen */
        background-position: center center;
    }

    .card {
        text-align: center;
        margin-bottom: 10%;
        background-color: rgba(0, 0, 0, 0.2); /* Un color de fondo más suave y transparente */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra suave para darle profundidad */
        max-width: 300px; /* Define un ancho máximo para evitar que la tarjeta se estire demasiado */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza los efectos al pasar el ratón */
    }


    .card-img-top {
        border-radius: 10px 10px 10px 10px; /* Redondea solo las esquinas superiores de la imagen */
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        object-fit: cover; /* Asegura que la imagen no se deforme y se ajuste al contenedor */
    }


    /* Establece un tamaño fijo para las imágenes del carrusel */
    .carousel-item img {
        width: 90%;  /* O ajusta según necesites */
        height: 300px; /* Altura fija para todas las imágenes */
        object-fit: cover; /* Esto ajusta la imagen dentro del contenedor manteniendo la proporción */
    }

    /* Asegura que las tarjetas mantengan un tamaño consistente */
    .carousel-item .card {
        width: 18rem;
        height: 500px; /* Altura fija para las tarjetas */
    }


        /* Ajusta el contenido de la tarjeta */

    .card-title {
        font-size: 1.8rem; /* Tamaño grande para resaltar el título */
        font-weight: bold;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra para darle más impacto */        
    }

    .card-text {
        font-size: 1rem;
        color: #d1d1d1;
        margin-bottom: 10px;
        text-align: center;
    }

    .card-body button {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        background-color: #f59ff5a6;
        border: none;
        border-radius: 5px;
        padding: 8px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 0%;
    }

    .card-body button:hover {
        background-color: #ff00dd; /* Cambio de color al pasar el cursor */
    }

    .card-body button:focus {
        outline: none;
        box-shadow: 0 0 5px 2px rgb(226, 165, 213);
    }



    /* carrito de compra propiedades*/


    div.row.cart-item.align-items-center{

        display: block;
        position: relative;


    }

    div.col-md-3{
        display: contents;
        position: relative;

    }

    div.col-md-2{
        display: contents;
        
    }

    div.col-md-4{

        display: contents;

    }



    div#cart-items-container{
        position: relative;
        width: 42%;
        left: 31%;
    }




    .btn-delete {
        background-color: #f099ff; /* Color rojo suave */
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .btn-delete:hover {
        background-color: #d32f2f; /* Rojo más oscuro en hover */
    }

    .btn-delete:active {
        background-color: #b71c1c; /* Aún más oscuro al hacer clic */
        transform: scale(0.95); /* Efecto de clic */
    }

    .bi-trash {
        width: 20px;
        height: 20px;
    }


    button.btn.btn-delete {
        position: relative;
        display: inline-block;
        bottom: 223px;
        left: 215px;

    }
    
    svg.bi.bi-trash {
        position: relative;
        left: 12%; 
    }


}